.plan__major {
  .header-info {
    display: flex;
    gap: 20px;
  }

  .week-container {
    margin: 10px;
    display: flex;
    width: calc(100% - 20px);
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);

    .day-container {
      flex: 1;
      border-top: 1px solid var(--light-gray);
      border-left: 1px solid var(--light-gray);
      height: 500px;
      padding: 10px;

      .day-number {
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 5px;
        margin-bottom: 8px;
      }

      p {
        text-align: center;
      }

      .event-block {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .btn-container {
    display: flex;
    gap: 10px;
  }
}
